/node_modules
/dist.expo/
.expo/

# license-server
license-server/node_modules/
license-server/.env
license-server/data/
license-server/.keys/

# Local Android release signing material
android/keystore.properties
*.keystore
